body {
    /* background: linear-gradient(10deg, #333333, #1793D1); */
    background-image: url("assets/background.png");
    background-color: #333333;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.tilt-card {
    width: 80%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 2 / 1;
    background-color: #1793D1;
    border: 2px solid #333333;
    border-radius: 65px;
    transform-style: preserve-3d; /* tilt card shit */
    perspective: 1000px;
    transition: transform 0.2s;
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border: 2px solid #000000;
    object-fit: cover;
}

.subTitle {
    color: #333333;
    text-align: center;
    margin-up: -10px;
}

.info {
    color: transparent;
    background: linear-gradient(90deg, #000000, #000000);
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 10px;
}

/* Smaller screen crap */
@media (max-width: 600px) {
    .tilt-card {
        width: 90%;
        max-width: 300px;
    }
}
