body {
    background: linear-gradient(10deg, #D1D3D4, #86B0BD);
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tilt-card {
    width: 80%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 2 / 1;
    background-color: #86B0BD;
    border: 2px solid #D1D3D4;
    border-radius: 65px;
    transform-style: preserve-3d; /* tilt card shit */
    perspective: 1000px;
    transition: transform 0.2s;
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.subTitle {
    color: #E2A16F;
    text-align: center;
    margin-up: -10px;
}

.info {
    color: transparent;
    background: linear-gradient(90deg, #000000, #000000);
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 10px;
}

/* Smaller screen crap */
@media (max-width: 600px) {
    .tilt-card {
        width: 90%;
        max-width: 300px;
    }
}
